
 /* For the title page*/
header{
    background-color: #48413C;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    padding: 5px;
    border: 30px;
    margin: 50px 48413C;
    color: #EEECE7 ;
    width:100%;
 
  
}
/* styling for nav*/
header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }

  header nav ul li {
    list-style-type: none;
  }

  header nav ul li a {
    font-size: 25x;
    color: white;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/* the entire page*/
body{
    background-color: #EEECE7;
    color: #48413C;
    width: auto;


}

h3{
    font-family: sans-serif;
}

h2{
    text-align: center;
}
/* styling with flex*/
.group {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }

  
.item-double {
    flex: 2;
  }
  
  /* --- groups & items for desktop --- */
  
  @media all and (min-width: 800px) {
    section {
      padding: 0 10%;
    }
    .group {
      flex-direction: row;
    }
  }

.name{
    font-size: 50px;
    font-family: cursive;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* centering the entire page*/
.wrapper{
  width: 320px;
  align-content: center;
  margin: auto; 
}

/* the intro page*/
.introduction{
    text-align: left;
    padding: 15px;
    border: 30px;
}
/* the about page*/
 .about{
    text-align: left;
    padding: 5px;
    border: 30px;
 }
/* the contact page*/
 .contact{
    text-align: left;
    padding: 5px;
    border: 30px;
 }
 /*contact forms*/

 form {
    padding-right: 8px;
    /* Fixed small sizing issue on the right */
  }
  
  form label {
    display: block;
  }


 /* map image */
 img{
     height: 300px;
     width: 300px;
     margin: auto;
 }

 footer{
    background-color: #48413C;
    padding: 1px;
    margin: auto 48413C;
    
 }

main a:link    { color: blue;  }
main a:visited { color: purple; }
main a:hover   { color: lightblue; }
main a:active  { color: orange; }


@media all and (min-width: 700px) {
    header {
      display: flex;
      justify-content: space-between;
    }