
 /* For the title page*/
header{
    background-color: #48413C;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    padding: 5px;
    border: 30px;
    margin: 50px 48413C;
    color: #EEECE7 ;
}

/* the entire page*/
body{
    background-color: #EEECE7;
    color: #48413C;


}

h3{
    font-family: sans-serif;
}

h2{
    text-align: center;
}

/* centering the entire page*/
.wrapper{
    width: 500px;
    margin: auto; 
}

/* the intro page*/
.introduction{
    text-align: left;
    padding: 15px;
    border: 30px;
}
/* the about page*/
 .about{
    text-align: left;
    padding: 5px;
    border: 30px;
 }
/* the contact page*/
 .contact{
    text-align: left;
    padding: 5px;
    border: 30px;
 }

 /* map image */
 img{
     height: 500px;
     width: 500px;
     margin: auto;
 }

 footer{
    background-color: #48413C;
    padding: 1px;
    margin: auto 48413C
 }