header{
    background-color: #48413C;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
    padding: 5px;
    border: 30px;
    margin: 50px 48413C;
    color: #EEECE7 ;
}

body{
    background-color: #EEECE7;
    color: #48413C;
    padding: 20px;
    margin: 0;
    height: 100vh;
    width: 100vh;
    align-items: center;
    justify-content: center;
}

h4{
    font-family: sans-serif;
}

.introduction{
    text-align: center;
    padding: 15px;
    border: 30px;
}
 .about{
    text-align: center;
    padding: 5px;
    border: 30px;
 }

 .contact{
    text-align: center;
    padding: 5px;
    border: 30px;
 }
 img{
     height: 350px;
     width: 350px;
     margin: auto;
 }

 footer{
    background-color: #48413C;
 }